SECRET_KEY=change-me-super-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/my_marketplace
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
